$myColor: red;

h1 {
    color: $myColor;
}
button {
    min-width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(47, 49, 151, 0.851);
    padding: 0.25rem;
    margin: 0.5rem;
    color: #fff;
}