*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
  color: #333;
  padding: 1rem;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  height: 1000px;
  font-size: 16px;
  line-height: 1.5;
}

.bordered {
  border: 1px solid #ddd;
  padding: 0.5rem;
  width: 90%;
  margin: 1rem auto;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: -1px -1px 10px 0 #bcb8b8;
}

input,
textarea,
select {
  background-color: #9f9999;
}
